<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>552263338390-l9onknhfk35vt0o5rth8e5te7c41jlcl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.552263338390-l9onknhfk35vt0o5rth8e5te7c41jlcl</string>
	<key>API_KEY</key>
	<string>AIzaSyChJH7CQX66RFt8_8oqIDv6Dxm-NtMrgUs</string>
	<key>GCM_SENDER_ID</key>
	<string>552263338390</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hautran.SentioWeather</string>
	<key>PROJECT_ID</key>
	<string>weatherapp-fe1f9</string>
	<key>STORAGE_BUCKET</key>
	<string>weatherapp-fe1f9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:552263338390:ios:3c1292916babae577875b7</string>
</dict>
</plist>
